/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --font-main: 'Inter-Variable', Arial, sans-serif;
  --font-accent: 'PressStart2P', fantasy, cursive;

  --card-title-weight: 700;
  --card-text-weight: 400;
}
